:root {
  --primary: #f05454;
  --bg: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 5000px;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 7%;
  background-color: var(--bg);
  opacity: 0.8;
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  border-bottom: 0.01rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(34, 40, 49, 0.2) 0%,
      rgba(34, 40, 49, 1) 100%
    ),
    url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .main .container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.hero .main .container .content {
  flex: 1 1 100%;
}

.hero .main .container .profil-img {
  flex: 1 1 60%;
}

.hero .main .container .content .content-halo {
  font-size: 1.2rem;
}

.hero .main .container .content h1 {
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.hero .main .container .content .content-quote {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero .main .container .content .content-quote span {
  color: #f84545;
}

.hero .main .container .btn {
  font-size: 1.2rem;
  padding: 0.8rem 4rem;
  border-radius: 50rem;
  color: #fff;
  background-color: var(--primary);
  font-weight: 700;
  transition: 0.3s linear;
}

.hero .main .container .btn:hover {
  color: var(--primary);
  background-color: #fff;
  transition: 0.3s linear;
}

.hero .main .container .profil-img img {
  width: 70%;
  margin-left: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--primary);
  transition: 0.3s linear;
}

.hero .main .container .profil-img img:hover {
  transform: translate(10px, -10px);
  box-shadow: -10px 10px var(--primary);
}

/* About Section */
.about,
.menu,
.contact,
.hero {
  padding: 5rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
  object-position: center;
}

.about .row .about-img {
  flex: 1 1 45rem;
  text-align: right;
  padding-right: 2rem;
}

.about .row .about-img img {
  width: 80%;
  border-radius: 0.5rem;
  object-fit: cover;
  border: 2px solid var(--primary);
  object-position: center;
  aspect-ratio: 1/1;
  transition: 0.3s linear;
}

.about .row .about-img img:hover {
  transform: translate(10px, -10px);
  box-shadow: -10px 10px var(--primary);
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

.about .row .content p span {
  color: var(--primary);
  font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5px;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .hero .main .container {
    flex-flow: column-reverse;
  }

  .hero .main .container .profil-img {
    margin-bottom: 2rem;
    text-align: center;
  }

  .hero .main .container .profil-img img {
    margin-left: 0;
    width: 50%;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about h2 {
    margin-bottom: 1.5rem;
  }

  .about .row .about-img {
    padding-right: 0;
    text-align: center;
  }
  .about .row .about-img img {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu .row {
    margin-top: 3rem;
    justify-content: center;
  }

  .menu .row .menu-card {
    padding: 1.2rem;
  }

  .menu p,
  .contact p {
    font-size: 1.6rem;
  }

  .menu .row .menu-card .menu-card-price {
    font-size: 1.6rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 40rem;
    border-radius: 1rem 1rem 0 0;
  }

  .contact .row form {
    padding: 0 2rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
